
<p class="text">Digite um tema de série</p>
<form class="form" action="/request" method="get">
    <input type="text" name="tema" id="tema">
    <input type="submit" value="Resultados" class="button">
</form>